@import "faces.css";

body {
  color: #C8C9DF;
  background-color: #232539;
  margin: 0;
  padding: 0;
  background-image: url('/css/grid.png');
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  box-sizing: border-box;

  background-color: #232539;
  padding: 6px 20px;
  z-index: 1000;

  border-bottom: 1px dashed #c8c9df;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 4px 12px;
  display: block;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.main-layout {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.sidebar {
  width: 300px;
  padding: 20px;
  padding-top: 60px;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  padding-top: 60px;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #232539;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 15px;
  margin-botton: 20px;
}

.card h2 {
  font-size: 1.2em;
  border-bottom: 2px solid #CCC;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.card a {
  text-decoration: none;
  color: #007BFF;
}

.card-links ul {
  list-style: none;
  padding: 0;
}

.card-links a {
  text-decoration: none;
  color: #007BFF;
  display: block;
  padding: 5px 0;
}

.card-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  border-radius: 4px;
}

.card-image p {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #111;
  color: #f1f1f1;
  text-align: center;
  padding: 2px 20px;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #007BFF;
  display: block;
  padding: 5px 0;
}

.aa pre {
  background-color: #131529;
  border: 1px dashed #c8c9df;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5px;
  }
  .navbar-logo {
    padding-left: 20px;
    margin-botton: 20px;
  }
  .navbar-links: {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-links li {
    margin-left: 0;
    width: 100%;
    text-align: left;
  }
  .navbar-links a {
    padding: 10px 20px;
  }

  .main-layout {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    order: 2;
    border-top: 1px solid #CCC;
  }
  .main-content {
    width: 100%;
    order: 1;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5px;
  }
}
