:root {
  --bg-1: #232539;
  --bg-2: #131529;
  --bg-3: #111;
  --bg-4: #333549;
  --border-1: #C8C9DF;
  --border-2: #DDD;
  --border-3: #CCC;
  --link-1: #007BFF;
  --text-1: #F1F1F1;
  --text-2: #555;
  --text-3: #C8C9DF;
}
