
body {
  color: #C8C9DF;
  background-color: #232539;
  margin: 0;
  background-image: url('image/grid.png');
}
header {
  display: grid;
  gap: 0;
  grid-template-columns: 12.2rem 63.8rem minmax(0,12.2rem);
  box-sizing: border-box;
  grid-template-areas: "logo quote logo2";
  font-family: 'Consolas', Monospace;
  background-color: #111111;
  margin: auto;
  position: static;
  transition: margin-top 1s ease-out;
  font-size: 1rem;
  padding: .45rem 1rem;
  border-bottom: var(--main-border);
  justify-content: space-between;
}
h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

/* a:link { */
/*   color: var(#b5b5b5); */
/*   text-decoration: none; */
/*   transition: .5s ease-out; */
/* } */


#header {
  background-color: #232539;
  padding: 10px;
  border-bottom: 1px dashed #c8c9df;
}

#nav {
  display: flex;
  flex-direction: row;
  background-color: #ABABAB;
  border: 4px solid #FFFFFF;
}

#title {
  float: left;
  padding: 0 16px;
}

#navlist {
  overflow-x: auto;
  white-space: nowrap;
}

.navlink {
  padding: 0 10px;
  color: #c8c9df;
  text-decoration: unset;
}
